
{
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

n8n.rami-maalouf.tech {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
 # Recommended security headers
  header {
    # Enable Strict Transport Security (HSTS)
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    # Prevent MIME-type sniffing
    X-Content-Type-Options "nosniff"
    # Prevent clickjacking
    X-Frame-Options "SAMEORIGIN"
    # Control referrer information
    Referrer-Policy "strict-origin-when-cross-origin"
    # Modern Permissions Policy
    Permissions-Policy "interest-cohort=()"
    # Remove Caddy's server signature
    -Server
  }


  reverse_proxy n8n:5678 {
    flush_interval -1
  }
}
